*{
  margin:0px;
}

.main-div-container{
  background-image: url("https://assests.vamsimarripudi.tech/468CEACE-A4F2-4741-A822-E22671E43FC9.png");
  height:100vh;
  width:100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


@media screen and (max-width:768px){
  .main-div-container{
    background-image: url("https://assests.vamsimarripudi.tech/8B9EB013-0221-4BCC-B41B-B9D4C146C2A3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;  /* better for mobile */
    width: 100%;
  }

  .sub-text{
    text-align: center;
    padding: 0 16px;
  }
}


.main-heading{
  color:goldenrod;
  font-weight:bold;
  font-size:25px;
  padding-top:20px;
}