*{
  margin:0px;
  color:black;
}

.main-div-container{
  background-image: url("https://assests.vamsimarripudi.tech/Ugadi-desktop-img.PNG");
  height:100vh;
  width:100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


@media screen and (max-width:768px){
  .main-div-container{
    background-image: url("https://assests.vamsimarripudi.tech/Ugadi-mobile-img.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;  /* better for mobile */
    width: 100%;
  }

  .sub-text{
    text-align: center;
    padding: 0 16px;
    color:black;
  }
}


.main-heading{
  color:goldenrod;
  font-weight:bold;
  font-size:25px;
  padding-top:20px;
}